################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/Win32_MemoApp/x64/Debug
/x64/Debug
